[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx-autobuild = "*"
recommonmark = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-napoleon = "*"
Sphinx = "*"
twine = "*"
mypy = "*"
pytest = "*"

[packages]
bjec = {editable = true,path = ".",extras = ["htcondor"]}

[requires]
python_version = "3.7"
